body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #444;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

#name {
    font-size: 25px; /* Adjust the font size */
    font-family: 'Josefin Sans', sans-serif; /* Use the Josefin Sans font */
    margin-left: 8px;
}

main {
    display: flex;
    justify-content: space-between;


}

.content {
    flex-grow: 3;
    padding: 15px;
    background-color: #f9f9f9
}

.sidebar {
    width: 400px;
    padding: 15px;
    background-color: #f0f0f0
}

.project-link {
    margin-right:155px;
    font-family: 'Josefin Sans', sans-serif; /* Use the Josefin Sans font */
    font-size: 25px; /* Adjust the font size */
    cursor: pointer;
    color: #fff; /* Color to match the header */
    transition: color 0.3s ease-in-out; /* Smooth color transition on hover */
}

.project-link:hover {
    color: #ccc; /* Lighter color on hover */
}

.image-container {
    border: 3px solid #444; /* Border */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Hide anything outside the rounded corners */
    margin: 40px 0; /* Margin between images */
    position: relative;
    text-align: center;
}

.image-container img {
    width: 100%; /* Full width */
    height: 200px; /* Full height */
    display: block;
    object-fit: cover;
}

.image-container span {
    position: absolute; /* Absolute positioning for the text */
    top: 5px; /* 10px from the top edge of the container */
    left: 5px; /* 10px from the left edge of the container */
    font-family: 'Josefin Sans', sans-serif; /* Use the Josefin Sans font */
    padding: 4px;
    background-color: #444; /* Background color with transparency */
    border-radius: 5px; /* Rounded corners */
    font-size: 15px;
    color: white;
    font-weight: bold;
    text-align: center;
}